.Img {
    display: flex;
    justify-content: Center;
    padding: 2em;
    margin-top: 2em;
}

.containerInfo{
    justify-content: center;
    padding-right:18em;

    padding-left:18em;
    margin-top:5em;

}