.navigator {
    width: 370px;
    position: fixed;
    top: 0px;
    height: 90%;
    z-index: 1;
    padding-top: 94px;
    padding-right: 1em;
}

.content {
    padding-right: 1em;
    padding-bottom: 2em;
    z-index: 2;
    margin-left: 10px;
    padding-top: 94px;
}

.header {
    padding-bottom: 14px;
    position: fixed;
    z-index: 4;
    width: 100%;
}
.body {
    z-index: 0;
    width: 100%;
}