.navigator {
    width: 370px;
    top: 0px;
    height: 90%;
    z-index: 1;
    padding-right: 1em;

}

.content {
    padding-right: 1em;
    padding-bottom: 2em;
    z-index: 2;
    margin-left: 10px;
    
}
.container{
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.header {
    padding-top: 1em;
    padding-bottom: 14px;
    position: fixed;
    z-index: 4;
    width: 100%;
}