.toastUndo {
    padding-top: 1.5em;
}

.showName{
    padding-top: 1.7%;
}

.profileBody {
    margin-left: 10%;
    /* padding-right: 10em; */
    align-items: center;
    justify-content: center;
}