.Head {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: Center;
    padding: 0em;
    margin-bottom: 0em;
    background-color: rgb(17, 120, 180);
    color: #fff;
  }

.Select {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0em;
  margin-bottom: 0em;
}

.Search {
  box-sizing: border-box;
  display: flex;

  justify-content: right;
  padding-top: 0.5em;
  margin-left: 32em;
  padding-left: 5em;
  padding-right: 1em;

}
