.Head {
  width: 130%;
  display: inline-flex ;
  margin-top: 1.2em;
  margin-bottom: 0em;
  padding-left: 4%;
  padding-top: 0.4%;
  background-color: rgb(17, 120, 180);
  color: #fff;
  z-index: 4;
}

.Select {
box-sizing: border-box;
width: 100%;
display: flex;
justify-content: center;
padding: 0em;
margin-bottom: 0em;
}

.Search {
box-sizing: border-box;
display: flex;
padding-top: 0.4%;
justify-content: right;
margin-left: 32%;
/* padding-left: 5em; */


}