.messageWindow {
    width: 100%;
    top: 0px;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
}

.sendArea {
    width:100%;
    margin-top: 3%;
    z-index: 0;
    padding-right: 4.7%;
}

.containerChat{
    width: 100%;
    justify-content: center;
    border: 2px solid #dedede;
    background-color: rgb(4, 158, 145);
    color: #ffffff;
}
