.messageWindow {
    width: 370px;
    top: 0px;
    height: 90%;
    overflow-y: scroll;
    z-index: 1;
    padding-right: 1em;
}

.sendArea {
    width: 370px;
    position: bottom;
    top: 0px;
    z-index: 0;
    padding-top: 94px;
    padding-right: 1em;
}

.container{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 10px 10px 10px;
}
